#container-01{
    display: flex;
    border: 1px solid black;
}

#container-01 > div{
    flex: 1;
}

#container-01 > div:nth-child(odd){
    background-color: bisque;
    height: 100px;
}

#container-01 > div:nth-child(even){
    background-color: brown;
    height: 100px;
}



/*  */
nav{
    display: flex;
    justify-content: space-between;
    align-items: end;
    border: 1px solid black;
    height: 300px;
}

nav > div{
    width: 100px;
    height: 100px;
    background-color: bisque;
    border: 1px solid brown;
}