h1{
    color: red
}

.school-name{
    background-color: green;
    color: white;
}

.title-school{
    font-size: 100px;
}

#program-name{
    font-weight: bold;
    color: greenyellow
}



.primary-bg-color{
    background-color: green;
}

.secondary-bg-color{
    background-color: yellow;
}

.primary-font-color{
    color: black 
}

.secondary-font-color{
    color: white
}