/* 320px - 480px */
#title-pwd{
    color: red;
}

/* 481px - 768px */
@media screen and (min-width: 481px) {
    #title-pwd{
        color: green;
    }

    img{
        display: none;
    }
}

/* 769px - Dst */
@media screen and (min-width: 769px) {
    #title-pwd{
        color: black;
    }

    img{
        display: block;
    }
}